body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1, h2, h3, h4, h5, h6{
  font-weight: 900;
}

/*title*/
#title {
  background-color: #ff4c68;
  color: white;
  text-align: left;
}

.title-text {
  line-height: 1.5;
  font-size: 3.5rem;
}

.container-fluid {
  padding: 3% 15%;
}

/*navigation-bar*/
.navbar {
  padding-bottom: 5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-size: 3rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/*download-buttons*/
.download-button {
  margin: 10% 5% 0 0;
}

/*title-image*/
.title-image {
  transform: rotate(20deg);
  position: absolute;
  left: 58%;
}

/*features*/
#features {
  background-color: white;
  position: relative;
  z-index: 1;
}

.features-h3 {
  font-size: 1.8rem;
}

.features-text {
  color: #8f8f8f;
  font-size: 1.3rem;
}

.icon {
  margin: 15% 0 10% 0;
  font-size: 3.5rem;
  color: #ef8172;
}

.icon:hover {
  color: #ff4c68;
}

/*testimonial section*/
#testimonials {
  background-color: #ef8172;
  color: white;
}

.testimonial-text {
  font-size: 3rem;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
}

.press-logo {
  width: 12%;
  margin: 20px 20px 50px;
}

/*Pricing*/
#pricing {
  margin-top: 5%;
}

.pricing-header {
  font-size: 3rem;
}

.price-name {
  font-size: 1.5rem;
}

.price-text {
  font-size: 3rem;
}
.pricing-text {
  color: #8f8f8f;
  font-size: 1.3rem;
}
.card-text{

  color: #8f8f8f;
  font-size: 1rem;
}

.row {
  padding: 5% 10%;
}


.footer-container {
  padding-top: 5%;
}

/* Call-To-Action*/
#cta {
  background-color: #ff4c68;
  font-size: 3.5rem;
  color: white;
}

.cta-text {
  line-height: 1.5;
  font-size: 3.5rem;
}

@media (max-width: 990px) {
  .title-image {
    position: static;
    transform: rotate(0deg);
    left: 0;
  }
}


.copy {
  color: #8f8f8f;
  font-size: 1.2rem;
  margin-bottom: 5%;
}

.social-icon {
  margin: 15px 15px;
}
